{% extends 'base.html' %} 
{% block content %}
    <!-- Barra de pesquisa -->
    <div class="search-container mt-3 p-3">
        <div class="search-box">
            <form action="{% url 'wallets:search' %}" method="GET">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-search fa-2xl"></i></span>
                    <input type="text" class="form-control" placeholder="Buscar ação..." name="q">
                    <button type="submit" class="btn btn-danger btn-search">Procurar</button>
                </div>
            </form>
            
        </div>
    </div>
    
    <!-- Seção principal -->
    <section class="hero-section">
        <h1>Bem-vindo ao InvestWallet!</h1>
        <p>Transforme sua Estratégia de Investimentos<br />Conte com recomendações inteligentes para construir a melhor carteira de ações.</p>
    </section>
{% endblock %}
